@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-image: url(./background.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.box .text h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

.box .download-button button {
  padding: 10px;
  color: white;
  background-color: black;
  border-radius: 32px;
  border: none;
  cursor: pointer;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 32px;
  width: 700px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}